<header>
    <h1 id="head">Recipes</h1>
    <nav class="cd-stretchy-nav">
        <a class="cd-nav-trigger" href="#0">
            Menu
            <span aria-hidden="true"></span>
        </a>
        <ul>
            <li>
                <a href="/" class="active">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/saved">
                    <span>Saved Articles</span>
                </a>
            </li>
            <li>
                <a href="/scrape">
                    <span>Scrape More Articles</span>
                </a>
            </li>
        </ul>

        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>
</header>
<div class="recipe-list">
    {{#each recipes}}

    <div class="recipe-container">
        <div class="panal">
            <div class="panal-heading">
                <a href="{{this.link}}" target="_blank" class="recipe-link">
                    <h3 id="recipes">
                        {{this.title}}
                    </h3>
                </a>
            </div>
            <a href="{{this.link}}" target="_blank" class="recipe-link">
                <div class="description">{{this.description}}</div>
            </a>
        </div>
        {{#if this.saved}}
        <button data-id={{this.id}} disabled id="already-saved" class="save">Saved</button>
        {{else}}
        <button data-id={{this.id}} class="save" onclick=onSave(this)>Save</button>
        {{/if}}
    </div>

    {{/each}}
</div>
<script src="../assets/js/main.js "></script>